body {
    margin:0;
    padding:0;
    background-color:#d5c0ee; 
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #333;
    line-height: 150%;
 }
 
 .container {
     background-color: rgb(167, 127, 177);
 
 }
 
 a {
     color: #a330e6
 }
 
 header {
     background-color: #333;
     padding: 25px; 
 }
 
 h1 {
     color: #eee;
     font-size: 28px;
     text-align: center;
 }
 
 h2 {
     font-size:24px;
 }
 
 .container {
     width: 1024px;
     margin: 0 auto;
 }
 
 #main-bio, #contact-info, #bio-image {
     float: left;
 }
 
 #main-bio {
     width: 70%;
 }
 
 #contact-info {
     width: 30%;
 }
 
 #bio-image {
     width: 200px;
     margin-right: 10px;
 }
 
 